amqp==1.4.9
anyjson==0.3.3
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.6.0
billiard==3.3.0.23
cachetools==2.0.1
celery==3.1.19
certifi==2018.1.18
chardet==3.0.4
decorator==4.2.1
Django==1.11.23
django-extensions==2.0.0
django-filter==1.1.0
djangorestframework==3.6.3
enum34==1.1.6
google==2.0.1
google-api-python-client==1.6.5
google-auth==1.4.1
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.2.0
httplib2==0.10.3
idna==2.6
ipdb==0.11
ipython==5.5.0
ipython-genutils==0.2.0
jsonfield==2.0.2
kombu==3.0.37
oauth2client==4.1.2
oauthlib==2.0.6
pathlib2==2.3.0
pexpect==4.4.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.5.2
pyasn1==0.4.2
pyasn1-modules==0.2.1
Pygments==2.2.0
python-dateutil==2.6.1
pytz==2018.3
requests==2.18.4
requests-oauthlib==0.8.0
rsa==3.4.2
scandir==1.7
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
typing==3.6.4
uritemplate==3.0.0
urllib3==1.24.2
wcwidth==0.1.7
